<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- 제이쿼리 추가 -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<title>Document</title>

	<!-- <% //request.setCharacterEncoding("UTF-8"); //한글깨지면 주석제거 //request.setCharacterEncoding("EUC-KR"); //해당시스템의 인코딩타입이
		EUC-KR일경우에 %> -->
</head>

<body onload="init();">

	<form id="form" name="form" method="post">
		<input type="hidden" id="confmKey" name="confmKey" value="" />
		<input type="hidden" id="returnUrl" name="returnUrl" value="" />
		<input type="hidden" id="resultType" name="resultType" value="" />
		{{#inputYn}}
		<input type="hidden" id="inputYn" name="inputYn" value="{{inputYn}}" />
		{{/inputYn}}
		{{#roadFullAddr}}
		<input type="hidden" id="roadFullAddr" name="roadFullAddr" value="{{roadFullAddr}}" />
		{{/roadFullAddr}}
		<!-- 해당시스템의 인코딩타입이 EUC-KR일경우에만 추가 START-->
		<!-- 
		<input type="hidden" id="encodingType" name="encodingType" value="EUC-KR"/>
		 -->
		<!-- 해당시스템의 인코딩타입이 EUC-KR일경우에만 추가 END-->
	</form>

	<script>
		async function init() {

			let url = location.href;
			let confmKey = "U01TX0FVVEgyMDIyMDUxODE0NTIyMjExMjU4MzE=";
			let resultType = "4"; // 도로명주소 검색결과 화면 출력내용, 1 : 도로명, 2 : 도로명+지번+상세보기(관련지번, 관할주민센터), 3 : 도로명+상세보기(상세건물명), 4 : 도로명+지번+상세보기(관련지번, 관할주민센터, 상세건물명)
			let inputYn = $("#inputYn").val();

			if (inputYn != "Y") {
				$("#confmKey").val(confmKey);
				$("#returnUrl").val(url);
				$("#resultType").val(resultType);
				document.form.action = "https://www.juso.go.kr/addrlink/addrLinkUrl.do"; //인터넷망
				document.form.submit();
			} else {
				opener.jusoCallBack($("#roadFullAddr").val());
				window.close();
			}
		}
	</script>
</body>

</html>